<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 必须与主 App 同一个 App Group，才能共享容器 -->
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.miclash.app</string>
	</array>
	<key>com.apple.developer.networking.networkextension</key>
	<array>
		<string>packet-tunnel-provider</string>
	</array>
</dict>
</plist>
